footer article {
    display: flex;
    flex-direction: row;
}

footer article section {
    flex-basis: 50%; 
    margin-top: 20px; 
}

footer article section:first-child {
    display: flex;
    flex-direction: column;

}
 
footer article section:first-child a{
    text-decoration: none;
    color: black;
}

.planet {
    margin-top: 20px;
    margin-left: 80px;
    
}
.social {
    display: flex;
    flex-direction: row;
}

.betaling{
    display: flex;
    flex-direction: row-reverse;
}

footer {
    background-color: #bed0b6;
  }

  main#billeder .kvinde1 {
    width: 100%;
    max-width: 100%;
    
  }

.alternativ {
    display: flex;
    flex-direction: row;
}

.størrelser {
    display: flex;
    flex-direction: row;  
}

.roter {
    display: flex;
    flex-direction: row;  
}

.roter img {
   
    margin: 30px;
}

.roter p {
    font-size: 14px;
    margin: 10px
}

.centrer {
    display: flex;
    justify-content: center;
}


.margin_left {
    margin-left: 3.5em;
}

.all_children_margin > * {
    margin: 1.5em;
}
.margin_top {
    margin-top: 1.5em;
}

.all_children_padding > * > *  {
    margin: 0.33em;
}