* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f5e9da;
}

@import url('https://fonts.cdnfonts.com/css/cambo');

body {
  width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: #000;
  font-size: 16px;
  font-family: 'Cambo', sans-serif;
  font-weight: 400; /* cdnfonts har kun "Cambo" med font-weight 400 (det betyder at i kun har den i normal tykkelse / der er ikke nogle tynde eller tykke versioner af den) */
}

header > nav > div {
  background-color: #bed0b6;
  display: flex;
}

/*
header > nav > div > a:first-child {
 
}
*/

header > nav > div > a > img {
  height: 51px;
}

header > nav > div > input[type="search"] {
  height: 51px;
  flex: 1 0 auto;
}

 
header #testbox_51 {
   margin: 0 auto;
}
 

img {
  max-width: 100%;
  display: block;
}

#index #testbox_51 {
   display:none; 
      }

      #index #burgermenu,
      #index #burgermenu_X {
          margin-top: 0;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: 0;
    }



    #testbox_51 {
      display: none;
    }

    #testbox_51.visible {
        display: block;
    }


main#billeder > img {
max-width: 100%;
  }

main#billeder > section {
  display: flex; 
}

main#billeder > section > img {  
  max-width: 50%;
  border: 7px solid transparent;  
}

main > section > a {   
    border: 7px solid transparent;  
  }


#dropdown_menu {
  display: block;
  min-height: 640px;
}

#dropdown_menu > a {
  display: block;
  padding: 36px;
  text-decoration: none;
}

#luk_dropdown_menu {
   text-align: center;
}
 

#luk_dropdown_menu img {
    margin: 0 auto;
 }
  
 