* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}


html {
  background-color: #f5e9da;
}

@import url('https://fonts.cdnfonts.com/css/cambo');

body {
  width: 360px; 
  margin-right: auto; 
  margin-left: auto;
  color: #000;
  font-size: 16px;
  font-family: 'Cambo', sans-serif;
  font-weight: 400; /* cdnfonts har kun "Cambo" med font-weight 400 (det betyder at vi kun har den i normal tykkelse / der er ikke nogle tynde eller tykke versioner af den) */
}

.footer div {
  background-color: #bed0b6;
  display: flow-root;
}

footer > nav > div > a > img {
  height: 51px;
}

img {
  max-width: 100%;
  display: block;
}

header div {
  background-color: #bed0b6;
  display: flex;
}


header > nav > div > a > img {
  height: 51px;
}

 
#burgermenu {
  margin-right: auto;
}

#søgning {
  margin-left: auto;
}

.grey_wolf_logo {
  margin-right: -30px;
}

main > img {
max-width: 100%;
  }

main > section {
  display: flex; 
}

main > section > img {  
  max-width: 50%;
  border: 7px solid transparent;  
}




main > section > a {   
    border: 7px solid transparent;  
  }
 
  /********************************** style_legacy her => ******************************************/

  footer article {
    display: flex;
    flex-direction: row;
}

footer article section {
    flex-basis: 50%; 
    margin-top: 20px; 
}

footer article section:first-child {
    display: flex;
    flex-direction: column;

}
 
footer article section:first-child a{
    text-decoration: none;
    color: black;
}

.planet {
    margin-top: 20px;
    margin-left: 80px;
    
}
.social {
    display: flex;
    flex-direction: row;
}

.betaling{
    display: flex;
    flex-direction: row-reverse;
}

footer {
    background-color: #bed0b6;
  }

  main#billeder .kvinde1 {
    width: 100%;
    max-width: 100%;
    
  }

.alternativ {
    display: flex;
    flex-direction: row;
}

.størrelser {
    display: flex;
    flex-direction: row;  
}

.roter {
    display: flex;
    flex-direction: row;  
}

.roter img {
   
    margin: 60px 30px;

}

.roter p {
    font-size: 14px;
    margin: 10px
}

.centrer {
    display: flex;
    justify-content: center;
}


.margin_left {
    margin-left: 3.5em;
}

.all_children_margin > * {
    margin: 1.5em;
}
.margin_top {
    display: block!important;
    margin-top: 1.5em!important;
}

.all_children_margin > * > *  {
    margin: 0.33em;
}